<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gold-Gecko</title>
    <link rel="icon" href="https://vignette.wikia.nocookie.net/tinyzoo/images/8/83/Goal_gold_dust_day_gecko_icon.png/revision/latest?cb=20130110002119">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">

</head>

<body class="top-navigation">


<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>


<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="/" class="navbar-brand">Gold-Gecko</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="boutique"> Boutique</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <% if(!(- session)) { %>
                        <li>
                            <a href="connexion"> Connexion</a>
                        </li>
                        <% }else { %>
                        Bonjour <%- name %> !
                        <li>
                            <a href="logout">
                                <i class="fa fa-sign-out"></i> Se déconnecter
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
<div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Détail de la commande</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Achat de <%= qty %> <%= item.name %><br></h4>
                            Commandé le <%= new Date().toLocaleString("fr-FR")%>
                        </div><br><br>
                        <div class="hr-line-dashed"></div>
                        <div class="col-lg-6">
                            <h2>Adresse de livraison</h2>
                            <%= user.name.firstName%> <%= user.name.lastName %><br>
                            <%= user.address.number %> <%= user.address.street %><br>
                            <%= user.address.city %>, <%= user.address.country %> <%= user.address.postalCode %><br>
                        </div>
                        <div class="col-lg-6">
                            <h2>Récapitulatif de la commande</h2>
                            <span class="col-sm-6 pull-left"> Prix de l'article : </span><span class="col-sm-6 pull-right"><%= item.price %> $</span>
                            <span class="col-sm-6 pull-left"> Quantité : </span><span class="col-sm-6 pull-right"><%= qty %></span>
                            <span class="col-sm-6 pull-left"> Sous-total : </span><span class="col-sm-6 pull-right"><%= item.price * qty %> $</span>
                            <span class="col-sm-6 pull-left"> Taxes : </span><span class="col-sm-6 pull-right"><%= Math.round(item.price * qty * 0.14975 * 100)/100 %> $</span>
                            <span class="col-sm-6 pull-left"> <strong>Montant tolal :</strong></span><span class="col-sm-6 pull-right"><strong><%= item.price *qty + Math.round(item.price * qty * 0.14975 * 100)/100 %> $</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>
        <div class="footer">
            <div class="pull-right">
                Samuel Baillargeon --- Alexandre Venables
            </div>
            <div>
                <strong>Copyright</strong> Gold-Gecko &copy; 2017
            </div>
        </div>
    </div>
</div>

</body>

</html>
