<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gold-Gecko</title>
    <link rel="icon" href="https://vignette.wikia.nocookie.net/tinyzoo/images/8/83/Goal_gold_dust_day_gecko_icon.png/revision/latest?cb=20130110002119">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">

</head>

<body class="top-navigation">


<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>


<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="/" class="navbar-brand">Gold-Gecko</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="boutique"> Boutique</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="connexion"> Connexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
<div>
<center>
<h1>Boutique</h1>
</center>

<div class="row">
    <div style="float:left;width: 20%;">
        <div style="margin-left: 50px; margin-right: 20px;">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="ibox-title">MENU RECHERCHE </div>
                    <form role="form" method="post" action="/boutique">
                        Recherche : <br>
                        <input type="text" name="search"  class="form-control" placeholder="Item à rechercher"><br>
                        Catégorie : <bR>
                        <select class="form-control m-b" name="category">
                            <option value="Toutes" <% if (selectedCategory == "Toutes") { %>selected <% } %>> Toutes </option>
                            <% categories.forEach(function (category) { %>
                            <option value="<%= category.category %>" <% if (selectedCategory == category.category) { %>selected <% } %>> <%= category.category%> (<%= category.count %>) </option>
                            <% }) %>
                        </select><br>
                        <input type="radio" name="price" value="1" <% if (selectedPrice == 1){ %> checked="checked" <% } %> > Tous les prix <br>
                        <input type="radio" name="price" value="0" <% if (selectedPrice == 0){ %> checked="checked" <% } %> > Moins de 25 $<br>
                        <input type="radio" name="price" value="25" <% if (selectedPrice == 25){ %> checked="checked" <% } %> > Entre 25 et 49,99$<br>
                        <input type="radio" name="price" value="50" <% if (selectedPrice == 50){ %> checked="checked" <% } %> > Entre 50 et 99,99$<bR>
                        <input type="radio" name="price" value="100" <% if (selectedPrice == 100){ %> checked="checked" <% } %> > 100 $ et plus <BR><BR>

                        <button class="btn btn-primary"><i class="fa fa-search"></i> Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="float:right;width:80%">
        <% items.forEach(function (item) { %>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-images" style="height: 200px;">
                        <br>
                            <a href='produit?id=<%= item._id%>'><img src='<%= item.image %>' alt='produit' style='width: 100%; height: 100%;'/></a>
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                            <%= item.price %> $
                        </span>
                        <small class="text-muted"><%= items.category%></small>
                        <a href="produit?id=<%= item._id%>" class="product-name"><%= item.name%></a>
                        <div class="m-t text-right">
                            <a href="produit?id=<%= item._id%>" class="btn btn-xs btn-outline btn-primary">Informations <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% })%>
    </div>
</div>
</div>

        </div>
        <div class="footer">
            <div class="pull-right">
                Samuel Baillargeon --- Alexandre Venables
            </div>
            <div>
                <strong>Copyright</strong> Gold-Gecko &copy; 2017
            </div>
        </div>
    </div>
</div>

</body>

</html>
