<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gold-Gecko</title>
    <link rel="icon" href="https://vignette.wikia.nocookie.net/tinyzoo/images/8/83/Goal_gold_dust_day_gecko_icon.png/revision/latest?cb=20130110002119">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">

</head>

<body class="top-navigation">


<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>


<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="/" class="navbar-brand">Gold-Gecko</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="boutique"> Boutique</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links navbar-right">
                        <% if(!(- session)) { %>
                        <li>
                            <a href="connexion"> Connexion</a>
                        </li>
                        <% }else { %>
                        Bonjour <%- name %> !
                        <li>
                            <a href="logout">
                                <i class="fa fa-sign-out"></i> Se déconnecter
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
<div class="wrapper wrapper-content animated fadeInRight" style="width:100%;">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-images">
                                <div>
                                    <div class="image-imitation" style="height: 560px">
                                        <img src='<%= item.image %>' alt='produit' style='width: 100%; height: 100%;'/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                <%= item.name %>
                            </h2>
                            <br>

                            <h3>Prix</h3>

                            <div class="small text-muted">
                                <%= item.price %>
                            </div>
                            <hr>

                            <h4>Description du produit</h4>

                            <div class="small text-muted">
                                <%= item.description %>

                                <br/>
                                <br/>
                            </div>
                            <dl class="small m-t-md">
                                <dt>Catégorie</dt>
                                <dd><%= item.category %></dd>
                            </dl>
                            <hr>

                            <div>
                                <form role="form" method="post" action="achat">
                                    <div class="col-md-3">
                                        <input type="hidden" name="id" value="<%= item._id%>">
                                    <input class="qtyTouch" type="text" id="qty" name="qty">
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" <% if(!(- session)) { %> disabled <% } %>><i class="fa fa-cart-plus"></i> Acheter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var maxQty = <%= JSON.stringify(item.quantity); %>;
    var minQty = 1;
    if (maxQty == 0)
        minQty = 0;

    $(".qtyTouch").TouchSpin({
        buttondown_class: 'btn btn-primary',
        buttonup_class: 'btn btn-primary',
        min : minQty,
        max: maxQty,
        initval : 1
    });
</script>
        </div>
        <div class="footer">
            <div class="pull-right">
                Samuel Baillargeon --- Alexandre Venables
            </div>
            <div>
                <strong>Copyright</strong> Gold-Gecko &copy; 2017
            </div>
        </div>
    </div>
</div>

</body>

</html>
